@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Here is a beloved song of mine...</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AwuCF5lYqEE" title="YouTube video player"></iframe>
</div>

<p>
    <button onclick="myMove()">Click Me</button>
</p>

<div id="myContainer">
<div id="myAnimation"></div>
</div>